@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.b {
  border: 1px solid black;
}

.img-card {
  box-shadow: 5px 5px 3px rgb(169, 164, 164);
}



/* @font-face{

font-family: "CustomFont";
src: url("..")

} */

.form-card{

box-shadow: 0 0.188em 1.550em rgba(154, 151, 151, 0.633);

} 


